[submodule "roman-numerals"]
	path = roman-numerals
	url = ./roman-numerals/
[submodule "hello-world"]
	path = hello-world
	url = ./hello-world/
[submodule "nucleotide-count"]
	path = nucleotide-count
	url = ./nucleotide-count/
[submodule "pig-latin"]
	path = pig-latin
	url = ./pig-latin/
[submodule "protein-translation"]
	path = protein-translation
	url = ./protein-translation/
[submodule "rna-transcription"]
	path = rna-transcription
	url = ./rna-transcription/
[submodule "rotational-cipher"]
	path = rotational-cipher
	url = ./rotational-cipher/
[submodule "secret-handshake"]
	path = secret-handshake
	url = ./secret-handshake/
[submodule "strain"]
	path = strain
	url = ./strain/
[submodule "word-count"]
	path = word-count
	url = ./word-count/
[submodule "resistor-color"]
	path = resistor-color
	url = ./accumulate/
[submodule "accumulate"]
	path = accumulate
	url = ./accumulate/
[submodule "space-age"]
	path = space-age
	url = ./space-age/
[submodule "two-fer"]
	path = two-fer
	url = ./two-fer/
